@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
svg {
    width: 1.5rem;
    height: 1.5rem;
}

svg, img {
    border-radius: 50%;
}

img {
    image-rendering: pixelated
}

p, a {
    color: rgb(182, 182, 182);
}

a:hover {
    color: rgb(182, 182, 182);
}

li>small {
    cursor: pointer;
    /* background: #1f1d2b; */
    /* padding: 0 .3em; */
}

.dark{
    background: #e9e3e3;
    color: #232326;
}

.dark .card {
    background-color: #fafafa;
}


.dark small , .dark svg , .dark p{
    color: #24232c;
}

body {
    background-color: #1f1d2b;
    color: #fff;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}

.main {
    position: relative;
    height: 100%;
    min-height: 100vh;
    transition: all .3s;
}

#skill_icons {
    width: 2.9em;
    height: 2.9em;
}

.card {
    background-color: #363342;
}

.profile_dp {
    border: 4px solid var(--bs-primary);
    width: 7.5rem;
    height: 7.5rem;
}

#about_text {
    max-width: 540px;
    margin: 0 auto;
    text-align: center;
}

.skills>li {
    display: flex;
    align-items: center;
    margin: 1rem;
}

@media all and (min-width: 768px) and (max-width: 1024px) {
    small {
        font-size: smaller;
    }
}

@media all and (min-width: 480px) and (max-width: 768px) {
    .col-9 {
        width: 100%;
    }
    .col-3 {
        width: 100%;
    }
    .profile_dp {
        width: 6rem;
        height: 6rem;
    }
    #skill_icons {
        width: 1.9em;
        height: 1.9em;
        border-radius: 50%;
    }
}

@media all and (max-width: 480px) {
    .col-9 {
        width: 100%;
    }
    .col-3, .container {
        width: 100%;
    }
    .profile_dp {
        width: 5rem;
        height: 5rem;
    }
    #skill_icons {
        width: 1.5em;
        height: 1.5em;
        border-radius: 50%;
    }
}

.toggle {
    display: flex;
    align-items: center;
}

.checkbox {
    opacity: 0;
    position: absolute;
}

.label {
    background-color: #232326;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: 16px;
    width: 30px;
    transform: scale(1.5);
}

.label .ball {
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    height: 12px;
    width: 12px;
    transform: translateX(0px);
    transition: transform .3s linear;
}

.checkbox:checked+.label .ball {
    transform: translateX(12px);
}

.checkbox:checked+.label {
    background-color: #93E088;
}

.toggle>p {
    font-size: small;
}